/* body{
    background-color: gray;
    justify-content: center;
color: white;
}

div{
    background-color: white;
    color: gray;
    align-items: center;
}
h1{
    font-weight: bold;
    color: black;
    margin-bottom: 48px;

}

p{
    color: red;
}

h5{
    font-size: large;
   margin-bottom: 30px;
   justify-content: center;
   color: gray;
}

.div2{
width: 100%;cursor: pointer;
}

label{
    justify-content: center;
    border-radius: 10px;cursor: pointer;
} */